.navbar-container
{
    width: 100%;
    height: 48px;
    border: none;
    position: sticky;
    /* border: var(--testBorder); */
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    /* border: var(--testBorder); */
}

.navbar-chunk {
    /* border: var(--testBorder); */
    flex-grow: 1;
}

.navbar-item {
    margin: auto;
    padding-left: 2px;
    padding-right: 2px;
}