.navbar-container
{
    width: 100%;
    height: 64px;
    border: 0;
    position: sticky;
    /* border: var(--testBorder); */
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-4);
}

.navbar
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    /* border: var(--testBorder); */
}

.navbar button
{
    padding: 8px;
    font-size: 1rem;
    background-color: #ffffff00;
    color: white
}

.navbar-chunk {
    padding: auto;
    /* border: var(--testBorder); */
    flex-grow: 1;
}

.navbar-item {
    margin: auto;
    padding-left: 2px;
    padding-right: 2px;
}

#search-bar
{
    height: 8px;
    width: 256px;
}

#navbar-title
{
    padding-right: 2rem;
    font-size:x-large;
}

@media only screen and (max-width:636px) {
    #navbar-title
    {
        display: none;
    }

    .navbar-container
    {
        width: 100%;
        height: 80px;
    }
}