.body-container 
{
    display: flex;
    width: 100%;
    height: 100%;
}
  
.filters-container
{
    flex: 20%;
    background-color: lightblue;
}

.filters-content
{
    margin: 10px;
    background-color: lightgray;
}

.products-container
{
    flex: 80%;
    background-color: lightgoldenrodyellow;
}

.products-content
{
    margin: 10px;
    background-color: lightgray;
}

