.product-card
{
    flex: 1 0 calc(25%);
    /* margin: 5px; */
    min-height: 350px;
    max-height: 350px;
    min-width: 250px;
    max-width: 250px;
    background-color: var(--col-1);
    border: 0px solid white;
    border-radius: 4px 4px;
}

#cart-button
{
    padding: 8px;
    background-color: var(--col-2)
}